.footer {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #080f45;
  color: antiquewhite;
  
}
  
.footerContent {
  text-align: right;
}

.footerContent h4 {
  font-size: 20px;
  font-weight: lighter;
  color: antiquewhite;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;    
  padding: .5em 2em;
  margin-bottom: 0;
  color: antiquewhite;
}

.brand {
  font-size: 1.5em;
  margin-left: 80px;
  color: antiquewhite;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  list-style: none;
  color: antiquewhite;
}

.links_list {
  margin-right: 1em;
  color: antiquewhite;
}

.links_list li a {
  padding: .4em .6em;
  border-radius: 5px;
  color: antiquewhite;  
}

.active {
  background-color: #080f45;
  color: rgb(0, 0, 0);
}
  