.navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
    justify-content: space;
    align-items: left;    
    padding: .5em 2em;
    margin-bottom: 0;
     background-color:  #080f45;
     color: antiquewhite;  
}

.brand {
    font-size: 1.5em;
    margin-left: 80px;
    color: antiquewhite;  
    margin-top: 10px;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
}

.links_list {
    margin-right: 1em;
}

.links_list li a {
    padding: .4em .6em;
    border-radius: 5px;
    color: antiquewhite;  
}

.links_list_right {
    display: flex;
    list-style: none;
    margin-right: 3em;
    font-size: 18px;
    font-weight: 500;
}

.links_list_right li a {
    padding: .8em .8em;
    margin: 5px;
    border-radius: 15px;
    background: linear-gradient(to right, #F0F0F0, #E0E0E0);
    color: #333; /* Defina a cor do texto como branco para contrastar com o gradiente */
    text-decoration: none; /* Remova a sublinhado do link */
    transition: background 0.3s; /* Adicione uma transição suave para a mudança de cor de fundo */
}

.links_list_right li a:hover {
    background: linear-gradient(to right, #E0E0E0, #D0D0D0);
}

.active {
    background-color: #080f45;
    color: white;
}


@media screen and (max-width: 1024px) {
    /* .navbar {
        margin: 0;
        width: 100%;
    } */
}

@media screen and (max-width: 768px) {

    .navbar {
        height: 10vh;
        max-height: 10vh;
    }

    .navbar .brand {
        margin: 0 10px;
    }

    .navbar .links_list {
        gap: 12px
    }

    .navbar .links_list li{
        margin-right: 0;
        font-size: 0.9em;
    }

    .navbar .links_list_right{
        margin-right: 0;
    }

    .navbar .links_list_right li{
        font-size: 0.9rem;
    }

    .navbar .links_list_right li a{
        padding: 12px 18px;
        font-weight: 500;
    }

    .brand {
        font-size: 1em;
    }
    
    .brand span {
        font-weight: 900;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 531px) { /* 425pxpx */
    .navbar {
        padding: 1.5em;
    }

  

    .links_list.active a{
        letter-spacing: 0.2em;
    }
    
    .links_list.active{
        right: 0px;
    }

    /* .links_list.active li{
        color: #c300ff;
    } */

    .links_list.active li a{
        padding: 12px 12px;
        /* color: rgb(255, 255, 255); */
        color: black;
    }
    
    .links_list.active li a:hover{
        /* border: 1px solid #fff; */
        box-shadow: 0px 0px 25px -7px #a119f0;
        background: linear-gradient(45deg, #820cf0 0%, #cc19f0  80%, #860fd6  500%);
        border-radius: 12px;
        color: white;
    }

    .navbar .links_list li {
        margin-bottom: 35px;
    }

    .navbar .links_list_right li {
        margin-bottom: 25px;
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile i {
        font-size: 24px;
        cursor: pointer;
    }
}